* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    display: grid;
    place-content: center;
    gap: 20px;
    height: 100vh;
}

h1 {
    text-align: center;
}

.text-container textarea {
    display: block;
    margin: 0 auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.buttons button {
    width: 50%;
    padding: 16px 20px;
    font-size: 1.6rem;
    border-radius: 5px;
    cursor: pointer;
}

.buttons .count {
    border: none;
    background-color: rgb(15, 15, 15);
    color: #eaeaea;
}

.buttons .clear {
    border: none;
    background-color: #eaeaea;
}

.total {
    font-size: 1.8rem;
}